pip
asgiref
crispy-bootstrap4
dj-database-url
Django
django-crispy-forms
gunicorn
packaging
Pillow
psycopg2
python-dotenv
sqlparse
typing_extensions
tzdata
djangorestframework~=3.14.0
opencv-python
numpy
channels==3.0.4 # Du not change!!!
channels-redis==3.3.1 # Du not change!!!
